{{#each data.framework}}
 <div class="mb-3">
<label for="framework-selection"
>Please select a framework for your task:</label>
 <select id="framework-selection">
<option value="">--Please choose an option--</option>
<option value={{id}}>{{frameworkName}}</option>
  </div>
{{/each}}