<header class="header">
  <nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">MentorMe</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarColor01"
      >
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link {{#if (isEqualTo currentPage "home")}} active {{/if}}" href="/">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{#if (isEqualTo currentPage "dashboard")}} active {{/if}}" href="/dashboard">Dashboard</a>
          </li>
          {{#if (isEqualTo userType "mentee")}}
          <li class="nav-item">
            <a class="nav-link {{#if (isEqualTo currentPage "mentors")}} active {{/if}}" href="/search/mentors">Our Mentors</a>
          </li>
          {{/if}}
          <li class="nav-item">
            <a class="nav-link {{#if (isEqualTo currentPage "mentees")}} active {{/if}}" href="/search/mentees">Our Mentees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{#if (isEqualTo currentPage "contact")}} active {{/if}}" href="/contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <button class="btn btn-link nav-link border-0" id="logout-btn">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
  
  </nav>
</header>