<header>
  <!-- page logo-->
  <div>
    <img src="" alt="" />
  </div>

  <nav>
    <ul>
      <li><a href="">Dashboard</a></li>
      <li><a href="">Mentors</a></li>
      <li><a href="">Mentees</a></li>
      <li><a href="">Log out</a></li>
      <li><a href="">Contact Us</a></li>
    </ul>
  </nav>
</header>