<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>MentorMe</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css"
    />
    <!-- check path to stylesheet -->
    <link rel="stylesheet" href="../../public/assets/css/style.css" />
  </head>
  <body>

    <header class="header">
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Navbar</a>
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      {{{body}}}
    </main>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    ></script>
    <!-- check path to frontend js -->
    <script src="/assets/js/script.js" async defer></script>
  </body>
</html>