{{#if isLoggedIn}}
  {{> privateNavBar}}
{{else}}
  {{> publicNavBar}}
{{/if}}

<main class="contact-main">
  <h1 class="contact-title">How To Conatct Us?</h1>


  <div class="left-align">
    <div class="card mb-3" style="max-width: 685px">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img
            src="/assets/img/AvatarMaker.png"
            class="card-img"
            alt="my-avatar"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Personal Profile:</h5>
            <p class="card-text">
              Hi 👋, My Name is Abdirahman Osman and I am On A Journey To Learning
              How To Be A Programmer 🚀 Check Out The Links Below To My GitHub To
              View More 💻!!
            </p>
            <div class="card-body">
              <a href="https://github.com/AOsman0" class="card-link"
                ><i id="github-link" class="fa-brands fa-github"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="right-align">
     <div class="card mb-3" style="max-width: 685px">
      <div id="card-container" class="row no-gutters">
        <div class="col-md-4">
          <img
            src="/assets/img/Ricky.png"
            class="card-img"
            alt="my-avatar"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Personal Profile:</h5>
            <p class="card-text">
              Hi 👋, My Name is Ricky Palmer and I am On A Journey To Learning
              How To Be A Programmer 🚀 Check Out The Links Below To My GitHub To
              View More 💻!!
            </p>
            <div class="card-body">
              <a href="https://github.com/AOsman0" class="card-link"
                ><i id="github-link" class="fa-brands fa-github"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
       </div>
   </div>
</main>
