  {{> privateNavBar}}

  <main class="container">
      <section class="mt-4 border p-3 rounded-2 bg-light">
        <h2 class="text-center">Create Task</h2>
        <hr />
        <form class="mt-4" id="create-task-form">
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="title"
              placeholder="Please Enter title of Task"
            />
          </div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="taskDescription"
              placeholder="Please enter description of task"
            />
          </div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="taskLevel"
              placeholder="Please enter level of task"
            />
          </div>
          <div class="mb-3">
            <label for="framework-selection"
              >Please select a framework for your task:</label
            >
            <select id="framework-selection">
              <option value="">--Please choose an option--</option>
              <option value="1">JavaScript</option>
              <option value="1">JavaScript</option>
              <option value="1">JavaScript</option>
              <option value="1">JavaScript</option>
              <option value="1">JavaScript</option>
            </select>
          </div>
          <div id="create-task-error"></div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
      </section>
    </main>