{{#if isLoggedIn}}
  {{> privateNavBar}}
{{else}}
  {{> publicNavBar}}
{{/if}}


    <main>
        <div class="container card">
            <div class="row">
                <div class="col-md-12">
                    <h1>FAQ</h1>
                    <div>
                        <a class="btn btn-primary btn-lg mt-4" href="" role="button">Get Started</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                 <p>Hi, welcome to MentorMe, here you will find a selection of tasks and orientations which you can try out!</p>

                    <h2>Why was this site created?</h2>
                    This site was created as part of a coding school project by names: @,@,@,@,@,@
                    The site was originally a mini project but flourished into an in demand and user friendly tech site.

                    <h2>What is the purpose of this site?</h2>
                    The purpose of this site is to allow users and mentors to collaborate and find purposeful information in order to achieve tech and coding targets. Mentors will assign tasks for your selected framework and mentees can submit tasks and have them reviewed, the more submissions from both mentors and mentees the more points you can achieve.

                    <h2>League aboard</h2>
                    the league aboard shows the most intouch mentor and mentee on the whole site

                    <h2>reviews page </h2>
                    after any submissions mentors can review the mentee to see where they stand with progressing towards there goals, and to see if they need harder frameworks to keep the mentee occupied 


                    <h2>How to access this site?</h2>
                    In order to use this site an individual must first sign up.

                    <h2>Forgot your password or to change your password?</h2>
                    You can either contact the creators via any of the contact methods 
                    select forgot password on the login page and you will be sent a link 
                    edit your password on your profile page 

                    <h2> How to sign up?</h2> 

                    Before anything you must complete a basic sign up using your email address and setting up a useername and password, finall remeber to accept the terms and conditions.
                    You will then need to verify your account via an email link.

                    Then login via your email address and follow the steps below:

                    step 1: go to website home page 
                    step 2: select set up profile
                    step 3: fill out the sign up page 
                        - sign up as a mentor or mentee (you can switch between the same account if you want to be both)
                        - fill out the main site questions; location, frameworks you intend to learn/ skills you wish to aqquire , current skills you have attained (you can add more by selecting the expand and '+'  button, select an avatar for your display picture.

                    step 4: find the tutors and students who wish to learn or teach the same frameworks as you
                    step 5:enjoy your time using the site while not giving out any inappropriate or personal information to users to keep yourself and others safe.

                    <h2>Need help or advice/ contact the creators:</h2>
                    you can find our socials in the footer (bottom) of the home page and in teh FAQ's section
                    via email:
                    via phone:
                    via github link:

                    <h2>what the site consists of:</h2>
                    about page - tells you a brief overview about why the site was created, by whome and their contact details
                    resources page - options to select frameworks your would like to teach/ learn you can also favourite topics or subjects to come back to them in the future. if you do not know what you want to learn you can select the more information page which will give you abrief overview of what each framework does or is used for.
                    login page - access/ sign up to the site
                    community page - you can ask a question on the fourm and see if any of the community members can help you learn or answer your question (there will always be a community suppourt officers who can help you if your email or contact them (one of the creators will be on hand if nobody replies to you via the community board).
                    text page - 


                    <h2>contact others:</h2>
                    to message or contact collaborators or tutors you can select 'message/ teach me' from the top right hand corner of your screen

                    <h2>editing your profile:</h2>
                    to edit your profile select the 'edit profile' button in the top right hand corner.

                    <h2>resources page:</h2>
                    the resources page will give you information on.......




                </div>
            </div>
        </div>
            

    </main>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>&copy; 2022</p>
                </div>
            </div>
        </div>
    </footer>

<!--JQuery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" 
integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" 
crossorigin="anonymous" 
referrerpolicy="no-referrer">
</script>

<!--JS-->
<script src="/public/assets/js/script.js"></script>
</body>
</html>
