{{#if isLoggedIn}}
  {{> privateNavBar}}
{{else}}
  {{> publicNavBar}}
{{/if}}


    <main>
        <div class="container card">
            <div class="mx-auto p-2">
                <div class="col-md-12">
                    <h1 class="text-center">Welcome to the Home Page</h1>
                    <p class="text-center">fdsgsdfgsdfg</p>

                    <div class="col-4 mx-auto">
                        <a class="btn btn-primary btn-lg mt-4" href="" role="button">Get Started</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container card">
            <div class="mx-auto p-2">
                <div class="col-md-12">
                    <h1 class="text-center">how-to</h1>
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing</p>
                </div>

                
                <div class="row p-2">

                    <div class="p-2">
                        <a class="btn btn-primary btn-lg " href="" role="button">
                            <i class="fa-solid fa-user-plus fa-border fa-2x"></i>
                            
                            <p>sign-up</p>
                        </a>
                    </div>

                    <div class="p-2">
                        <a class="btn btn-primary btn-lg" href="" role="button">
                            <div>
                                <i class="fa-solid fa-address-card fa-border fa-2x"></i>
                            </div>
                            
                            <p>set up</p>
                        </a>
                    </div>

                    <div class="p-2">
                        <a class="btn btn-primary btn-lg" href="" role="button">
                            <div>
                                <i class="fa-solid fa-person-chalkboard fa-border fa-2x"></i>
                            </div>
                            
                            <p>find tutors/students</p>
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <div class="container card">
            <div class="mx-auto p-2">
                <div class="row">

                    <div class="p-2 col">
                        <a class="btn btn-primary btn-lg" href="" role="button">
                            <i class="fa-brands fa-js-square fa-3x"></i>
                            
                        </a>
                    </div>

                    <div class="p-2 col">
                        <a class="btn btn-primary btn-lg" href="" role="button">
                            <i class="fa-brands fa-js-square fa-3x"></i>
                            
                        </a>
                    </div>

                    <div class="p-2 col">
                        <a class="btn btn-primary btn-lg" href="" role="button">
                            <i class="fa-brands fa-js-square fa-3x"></i>
                            
                        </a>
                    </div>

                    <div class="p-2 col">
                        <a class="btn btn-primary btn-lg" href="" role="button">
                            <i class="fa-brands fa-js-square fa-3x"></i>
                            
                        </a>
                    </div>

                    </div>

                    <div class="row">
                        <div class="p-2 col">
                            <a class="btn btn-primary btn-lg" href="" role="button">
                                <i class="fa-brands fa-js-square fa-3x"></i>
                                
                            </a>
                        </div>
            
                        <div class="p-2 col">
                            <a class="btn btn-primary btn-lg" href="" role="button">
                                <i class="fa-brands fa-js-square fa-3x"></i>
                                
                            </a>
                        </div>
        
                        <div class="p-2 col-">
                            <a class="btn btn-primary btn-lg" href="" role="button">
                                <i class="fa-brands fa-js-square fa-3x"></i>
                                
                            </a>
                        </div>
                    </div>

                <div class="mx-auto col-4">
                    <a class="btn btn-primary btn-lg mt-4" href="" role="button">Get Started</a>
                </div>

            </div>
        </div>

        <div class="container card">

            <div class="row">
                <div class="col">
                    <h1>review</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                    <img src="" alt="">
                </div>
    
                <div class="col">
                    <h1>review</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                    <img src="" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h1>review</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                    <img src="" alt="">
                </div>
    
                <div class="col">
                    <h1>review</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                    <img src="" alt="">
                </div>
            </div>

        </div>

    </main>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>&copy; 2022</p>
                </div>
            </div>
        </div>
    </footer>

<!--JQuery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" 
integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" 
crossorigin="anonymous" 
referrerpolicy="no-referrer">
</script>

<!--JS-->
<script src="/public/assets/js/script.js"></script>
</body>
</html>
