{{#if isLoggedIn}}
  {{> privateNavBar}}
{{else}}
  {{> publicNavBar}}
{{/if}}


    <main>
        <div class="container card">
            <div class="row">
                <div class="col-md-12">
                    <h1>Welcome to the Home Page</h1>
                    <div>
                        <a class="btn btn-primary btn-lg mt-4" href="" role="button">Get Started</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <div>
                <h1>how-to</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
            </div>

            <div class="row">

                <a class="btn btn-primary btn-lg" href="" role="button">
                    <i class=""></i>
                    sign up
                </a>

                <a class="btn btn-primary btn-lg" href="" role="button">
                    <i class=""></i>
                    set up
                </a>
                
                <a class="btn btn-primary btn-lg" href="" role="button">
                    <i class=""></i>
                    find tutors/students
                </a>
            </div>
        </div>

        <div class="container card">
            <div class="row">

                <div class="">
                    <a class="btn btn-primary btn-lg" href="" role="button">
                        <i class=""></i>
                        framework
                    </a>
                </div>
    
                <div class="">
                    <a class="btn btn-primary btn-lg" href="" role="button">
                        <i class=""></i>
                        framework
                    </a>
                </div>

                <div class="">
                    <a class="btn btn-primary btn-lg" href="" role="button">
                        <i class=""></i>
                        framework
                    </a>
                </div>

                <div>
                    <a class="btn btn-primary btn-lg mt-4" href="" role="button">Get Started</a>
                </div>

            </div>

            <div class="container card">

                <div class="row">
                    <h1>how-to</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                    <img src="" alt="">
                </div>

                <div class="row">
                    <h1>how-to</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                    <img src="" alt="">
                </div>

                <div class="row">
                    <h1>how-to</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                    <img src="" alt="">
                </div>

                <div class="row">
                    <h1>how-to</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                    <img src="" alt="">
                </div>
            </div>
        </div>

    </main>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>&copy; 2022</p>
                </div>
            </div>
        </div>
    </footer>

<!--JQuery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" 
integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" 
crossorigin="anonymous" 
referrerpolicy="no-referrer">
</script>

<!--JS-->
<script src="/public/assets/js/script.js"></script>
</body>
</html>
