<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--font awesome-->
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer" />
    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,800;1,400;1,800&display=swap" rel="stylesheet">
    <!--CSS styles-->
    <link rel="stylesheet" href="./assets/CSS/stylesheet.css">
     
    <title>Document</title>

</head>

<body>
    <header>
        <!-- page logo-->
    <div>
  <img src="" alt="">
    </div>

    <nav>
        <ul>
            <li><a href="">Login</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Resources</a></li>
            <li><a href="">Community</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
    </header>

    <main>
        <div class="container card">
            <div class="row">
                <div class="col-md-12">
                    <h1>Welcome to the Home Page</h1>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>&copy; 2022</p>
                </div>
            </div>
        </div>

        <!--bootstrap-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0-beta1/js/bootstrap.min.js" 
        integrity="sha512-Hqe3s+yLpqaBbXM6VA0cnj/T56ii5YjNrMT9v+us11Q81L0wzUG0jEMNECtugqNu2Uq5MSttCg0p4KK0kCPVaQ==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer">
    </script>
</body>
</html>