{{#if isLoggedIn}}
  {{> privateNavBar}}
{{else}}
  {{> publicNavBar}}
{{/if}}


    <main>
        <section class="container card shadow">
            <div class="mx-auto p-2">
                <div class="col-md-12">
                    <h1 class="text-center">Welcome to the Home Page</h1>
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore unde, eos est facilis exercitationem numquam excepturi suscipit laboriosam eum blanditiis consectetur nemo deleniti iste quos voluptatum ratione assumenda, saepe fugiat.</p>

                    <div class="mx-auto col-2">
                        <a class="btn btn-primary btn-lg mt-4" href="" role="button">Get Started</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="container card shadow">
            <div class="mx-auto p-2">
                <div class="col-md-12">
                    <h1 class="text-center">how-to</h1>
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing</p>
                </div>

                
                <div class="row">

                    <div class="p-2">
                        <a class="btn btn-primary btn-lg how-btn" href="" role="button">
                            <div class="how-to-btn">
                                <i class="fa-solid fa-user-plus fa-border fa-2x"></i>
                            </div>
                            
                            <p class="m-2 p-2">sign-up</p>
                        </a>
                    </div>

                    <div class="p-2">
                        <a class="btn btn-primary btn-lg how-btn" href="" role="button">
                            <div class="how-to-btn">
                                <i class="fa-solid fa-address-card fa-border fa-2x"></i>
                            </div>
                            
                            <p class="m-2 p-2">set up</p>
                        </a>
                    </div>

                    <div class="p-2">
                        <a class="btn btn-primary btn-lg how-btn" href="" role="button">
                            <div class="">
                                <i class="fa-solid fa-person-chalkboard fa-border fa-2x"></i>
                            </div>
                            
                            <p class="m-2 p-2">find</p>
                        </a>
                    </div>

                </div>
            </div>
        </section>

        <section class="container card shadow">

            <h1 class="text-center">frameworks</h1>

            <div class="mx-auto p-2">
                
                <div class="row">
                    
                    <div class="p-2 col">
                        <a class="btn btn-primary btn-lg" href="" role="button">
                            <i class="fa-brands fa-js-square fa-3x"></i>
                            
                        </a>
                    </div>

                    <div class="p-2 col">
                        <a class="btn btn-primary btn-lg" href="" role="button">
                            <i class="fa-brands fa-js-square fa-3x"></i>
                            
                        </a>
                    </div>

                    <div class="p-2 col">
                        <a class="btn btn-primary btn-lg" href="" role="button">
                            <i class="fa-brands fa-js-square fa-3x"></i>
                            
                        </a>
                    </div>

                    <div class="p-2 col">
                        <a class="btn btn-primary btn-lg" href="" role="button">
                            <i class="fa-brands fa-js-square fa-3x"></i>
                            
                        </a>
                    </div>

                    </div>

                    <div class="row">
                        <div class="p-2 col">
                            <a class="btn btn-primary btn-lg" href="" role="button">
                                <i class="fa-brands fa-js-square fa-3x"></i>
                                
                            </a>
                        </div>
            
                        <div class="p-2 col">
                            <a class="btn btn-primary btn-lg" href="" role="button">
                                <i class="fa-brands fa-js-square fa-3x"></i>
                                
                            </a>
                        </div>
        
                        <div class="p-2 col-">
                            <a class="btn btn-primary btn-lg" href="" role="button">
                                <i class="fa-brands fa-js-square fa-3x"></i>
                                
                            </a>
                        </div>
                    </div>

                <div class="mx-auto col-4">
                    <a class="btn btn-primary btn-lg mt-4" href="" role="button">Get Started</a>
                </div>

            </div>
        </section>

        <section class="container card shadow">

            <div class="row p-2 mx-auto">
                <div class="col card m-2 shadow">
                    <h1 class="text-center">review</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                    <img src="" alt="">
                </div>
    
                <div class="col card m-2 shadow">
                    <h1 class="text-center">review</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                    <img src="" alt="">
                </div>
            </div>

            <div class="row p-2 mx-auto">
                <div class="col card m-2 shadow">
                    <h1 class="text-center">review</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                    <img src="" alt="">
                </div>
    
                <div class="col card m-2 shadow">
                    <h1 class="text-center">review</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                    <img src="" alt="">
                </div>
            </div>

        </section>

    </main>


