{{#if isLoggedIn}}
  {{> privateNavBar}}
{{else}}
  {{> publicNavBar}}
{{/if}}


    <main>
        <section class="container card shadow">
            
            <div class="mx-auto p-2">
                <div class="col-md-12">
                    <h1 class="text-center p-3">Welcome to the Home Page</h1>

                    <p class="text-center">Click the button below to begin your journey through our site.</p>

                    <div class="mx-auto col-2">
                        <a class="btn btn-primary btn-lg mt-4" href="/signup" role="button">Get Started</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="container card shadow ">
            <div class="p-2 row">
                <div class="col-md-12">
                    <h1 class="text-center p-3">How-to</h1>
                    <p class="text-center">Sign up to begin, then set up your profile and finally, find mentors/mentees to connect with!</p>
                </div>

                
                <div class="row mx-auto">

                    <div class="p-2">
                        <a class="btn btn-primary btn-lg how-btn" href="/signup" role="button">
                            <div class="how-to-btn">
                                <i class="fa-solid fa-user-plus fa-border fa-2x"></i>
                            </div>
                            
                            <p class="m-2 p-2">Sign-up</p>
                        </a>
                    </div>

                    <div class="p-2">
                        <a class="btn btn-primary btn-lg how-btn" href="/signup" role="button">
                            <div class="how-to-btn">
                                <i class="fa-solid fa-address-card fa-border fa-2x"></i>
                            </div>
                            
                            <p class="m-2 p-2">Set-up</p>
                        </a>
                    </div>

                    <div class="p-2">
                        <a class="btn btn-primary btn-lg how-btn" href="/signup" role="button">
                            <div class="">
                                <i class="fa-solid fa-person-chalkboard fa-border fa-2x"></i>
                            </div>
                            
                            <p class="m-2 p-2">Find</p>
                        </a>
                    </div>

                </div>
            </div>
        </section>

        <section class="container card shadow">

            <h1 class="text-center p-3">Frameworks</h1>

            <div class="mx-auto p-2">
                
                <div class="row">
                    
                    <div class="p-2 col">
                        <a class="btn btn-primary btn-lg" href="https://www.w3schools.com/js/default.asp"  target=”_blank” role="button">
                            <i class="fa-brands fa-js-square fa-3x"></i>
                            
                        </a>
                    </div>

                    <div class="p-2 col">
                        <a class="btn btn-primary btn-lg" href="https://www.w3schools.com/nodejs/nodejs_intro.asp"  target=”_blank” role="button">
                            <i class="fa-brands fa-node-js fa-3x"></i>
                            
                        </a>
                    </div>

                    <div class="p-2 col">
                        <a class="btn btn-primary btn-lg" href="https://www.w3schools.com/html/default.asp"  target=”_blank” role="button">
                            <i class="fa-brands fa-html5 fa-3x"></i>
                            
                        </a>
                    </div>

                    <div class="p-2 col">
                        <a class="btn btn-primary btn-lg" href="https://www.w3schools.com/css/default.asp"  target=”_blank” role="button">
                            <i class="fa-brands fa-css3-alt fa-3x"></i>
                            
                        </a>
                    </div>

                    </div>

                    <div class="row">
                        <div class="p-2 col">
                            <a class="btn btn-primary btn-lg" href="https://www.w3schools.com/git/"  target=”_blank” role="button">
                                <i class="fa-brands fa-git-alt fa-3x"></i>
                                
                            </a>
                        </div>
            

        
                        <div class="p-2 col-">
                            <a class="btn btn-primary btn-lg" href="https://www.w3schools.com/angular/"  target=”_blank” role="button">
                                <i class="fa-brands fa-angular fa-3x"></i>
                                
                            </a>
                        </div>
                    </div>

                <div class="mx-auto col-4">
                    <a class="btn btn-primary btn-lg mt-4" href="/signup" role="button">Get Started</a>
                </div>

            </div>
        </section>

    </main>


