{{#if isLoggedIn}}
  {{> privateNavBar}}
{{else}}
  {{> publicNavBar}}
{{/if}}


    <main>
        <section class="welcome-container container-fluid mt-0 shadow d-flex justify-content-evenly align-items-center">
            
            <div class="mx-auto p-2 ">
                <div class="col-md-12">
                    <h1 class="welcome-text text-center p-3 display-1 fw-bold">Welcome to MentorMe</h1>


                    <div class="mx-auto col-6">
                        <a class="btn btn-homepage btn-lg mt-4" href="/signup" role="button">Get Started</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="homepg container-fluid card shadow ">
            <div class="p-2 row">
                <div class="col-md-12">
                    <h1 class="text-center pt-3">How To</h1>
                    <p class="text-center">Sign up to get started, then set up your profile and find mentors and mentees to connect with!</p>
                </div>

                
                <div class="how-to-container row mx-auto d-flex justify-content-evenly align-items-center flex-wrap">

                    <div class="p-4">
                        <a class="btn btn-primary btn-lg how-btn border-0" href="/signup" role="button">
                            <div class="how-to-btn">
                                <i class="fa-solid fa-user-plus fa-2x mt-4"></i>
                            </div>
                            
                            <p class="m-2 p-2">Sign Up</p>
                        </a>
                    </div>

                    <div class="p-4">
                        <a class="btn btn-primary btn-lg how-btn border-0" href="/signup" role="button">
                            <div class="how-to-btn">
                                <i class="fa-solid fa-address-card mt-4 fa-2x"></i>
                            </div>
                            
                            <p class="m-2 p-2">Set Up</p>
                        </a>
                    </div>

                    <div class="p-4">
                        <a class="btn btn-primary btn-lg how-btn border-0" href="/signup" role="button">
                            <div class="">
                                <i class="fa-solid fa-person-chalkboard mt-4 fa-2x"></i>
                            </div>
                            
                            <p class="m-2 p-2">Search</p>
                        </a>
                    </div>

                </div>
            </div>
        </section>

        <section class="homepg container-fluid card shadow mb-3">

            <h1 class="text-center p-3">Frameworks</h1>

            <div class="mx-auto p-2">
                

                <div class="framework-tile-container d-flex justify-content-evenly align-items-center flex-wrap">
                
                    <div class="p-2 col">
                        <a class="btn btn-primary btn-lg fw-btn" href="https://www.w3schools.com/js/default.asp"  target=”_blank” role="button">
                            <i class="fa-brands fa-js-square fa-3x"></i>
                            
                        </a>
                    </div>

                    <div class="p-2 col">
                        <a class="btn btn-primary btn-lg fw-btn" href="https://www.w3schools.com/nodejs/nodejs_intro.asp"  target=”_blank” role="button">
                            <i class="fa-brands fa-node-js fa-3x"></i>
                            
                        </a>
                    </div>

                    <div class="p-2 col">
                        <a class="btn btn-primary btn-lg fw-btn" href="https://www.w3schools.com/html/default.asp"  target=”_blank” role="button">
                            <i class="fa-brands fa-html5 fa-3x"></i>
                            
                        </a>
                    </div>

                    <div class="p-2 col">
                        <a class="btn btn-primary btn-lg fw-btn" href="https://www.w3schools.com/css/default.asp"  target=”_blank” role="button">
                            <i class="fa-brands fa-css3-alt fa-3x"></i>
                            
                        </a>
                    </div>


                    <div class="p-2 col">
                        <a class="btn btn-primary btn-lg fw-btn" href="https://www.w3schools.com/git/"  target=”_blank” role="button">
                            <i class="fa-brands fa-git-alt fa-3x"></i>
                            
                        </a>
                    </div>
        

    
                    <div class="p-2 col">
                        <a class="btn btn-primary btn-lg fw-btn" href="https://www.w3schools.com/angular/"  target=”_blank” role="button">
                            <i class="fa-brands fa-angular fa-3x"></i>
                            
                        </a>
                    </div>
                </div>


                <div class="mx-auto col-8">
                    <a class="btn btn-primary btn-lg mt-4 mb-4" href="/signup" role="button">Get Started</a>
                </div>

            </div>
        </section>

    </main>


