  {{> publicNavBar}}



            <div class="row text-center m-4">
                <div class="col-md-12 display-4">
                    <h1>Welcome to MentorMe</h1>
                </div>
            </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div>
                        <h4>Why was this site created?</h4>
                        <p>
                            This site is the perfect platform if you are looking to share your knowledge of coding or if you want to learn more about it!
                            You can join as a mentee (learner) or a mentor (coach) and create partnerships so that you can find helpful support while learning, or develop your skills as a mentor.
                            The more you get involved, the more XP (experience points) you gain!
                        </p>
                    </div>
                    
                    <div>
                    <h4>How do access all of the features of this site?</h4>
                    <p>In order to use this site, you will need to sign up. You must choose between being a mentee or a mentor when you sign up and to create a separate second account if you want to have an account for each type.</p>
                    </div>

                    <div>
                    <h4>How do I sign up?</h4> 

                   When signing up, you'll need to fill in a form with the following information:
                   <ul>
                        <li> Chosen account type</li>
                        <li> First name and last name, and a username of your choice</li>
                        <li> Your location</li>
                        <li> Your availability: this means the times of the week when you are available for a MentorMe session. You can choose between weekdays, weekend, or both. Further arrangements, for example exact days and times, will be done directly with your coding partner.</li>
                        <li> Collaboration format: whether you prefer to collaborate online only, in-person only, or are open to either</li>
                        <li> A profile image URL, so that you are more easily recognisable when others search you</li>
                         Your github url (if you have one)</li>
                    </ul>
                    Once signed up, you can login using your email address, you will land on the dashboard, where you can follow the steps below:
                    <ol>
                    <li> Choose the frameworks you would like to teach or learn skills in and the level at which you are working</li>
                    <li> Find the mentors or mentees who wish to teach or learn the same frameworks as you</li>
                    <li> Enjoy your time using the site while not giving out any inappropriate or personal information to users to keep yourself and others safe</li>
                    </ol>
                    </div>

                    <div>
                    <h4>What pages will I have access to after signing up?</h4>
                    <ul>
                      <li>Dashboard - where you can see all your info and have an overview of your selected frameworks and your ongoing partnerships</li>
                      <li>Task search - where, as a mentor, you can browse our database of tasks and filter them by framework or level</li>
                      <li>Task create - where you can create your own tasks and add them to our database</li>
                      <li>Mentor search - where you can browse our mentors and filter them by location, framework or collaboration format</li>
                      <li>Mentee search - where you can browse our mentees and filter them by location, framework or collaboration format</li>
                    </ul>
                    </div>

                    <div>
                    <h4>How do I contact others?</h4>
                        <p>To message mentees or mentors you can select the Email button on their card when searching for them.</p>
                    </div>

                    <div>
                    <h4>How do I edit my profile?</h4>
                    <p>To update your profile information select the 'edit profile' button on your dashboard. Email address and username cannot be amended after signing up.</p>
                    </div>

                    <div>
                    <h4>Need help or advice?</h4>
                    <p>
                        If you'd like any more information on how to use the site, have any suggestions on how we could improve it, or would like to delete your account, please get in touch with the creators. Contact details can be found <a href="/contact">here</a>.
                    </p>
                    </div>

                   




                </div>
            </div>
            
        </div>
        <div class="mx-auto col-6 m-4">
            <a class="btn btn-primary btn-lg" href="/signup" role="button">Get Started</a>
        </div>

            

