  {{> publicNavBar}}

    <main>
        <div class="container card">
            <div class="row">
                <div class="col-md-12">
                    <h1>Welcome to the Info Page</h1>
                    <div>
                        <a class="btn btn-primary btn-lg mt-4" href="/signup" role="button">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
