<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--bootstrap-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!--font awesome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,800;1,400;1,800&display=swap"
      rel="stylesheet"
    />
    <!--unicons-->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <!--CSS style sheet-->
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../public/assets/css/style-dashboard.css" />

    <title>Mentor-Me</title>
  </head>

  <body>
    <header>{{> privateNavBar}}</header>
    <main>
      <section>
        <div class="main-container">
          <div class="offer offer-full">
            <div class="inner-sidebar">
              <div class="profile">
                <div class="avatar-wrapper">
                  <img src="../public/assets/img/clipart472433.png" />
                </div>
                <div class="btn">
                  <a
                    href="mailto:bob.smith@gmail.com"
                    class="card-message"
                    data-attr=""
                    ><i class="uil uil-envelope-alt"></i> Send Message</a
                  >
                </div>
              </div>
              <div class="profile-info">
                <div class="contact-data">
                  <div class="phone">
                    <i class="uil uil-phone"></i> 790-1000-1000
                  </div>
                  <div class="email">
                    <i class="uil uil-at"></i> bob.smith@gmail.com
                  </div>
                </div>
                <div class="info-data">
                  <div class="feat-city">
                    <i class="uil uil-map-marker"></i> Online
                  </div>
                  <div class="feat-city">
                    <i class="uil uil-map-marker"></i> London
                  </div>
                  <div class="feat-calendar">
                    <i class="uil uil-schedule"></i> Availability
                  </div>
                </div>
                <div class="week-days">
                  <div class="day-active">M</div>
                  <div class="day-active">T</div>
                  <div class="day-active">W</div>
                  <div class="day-active">T</div>
                  <div class="day-active">F</div>
                  <div class="day-active">S</div>
                  <div class="day-active">S</div>
                </div>
              </div>
            </div>
            <div class="offer-content">
              <div class="offer-title">Hi! I'm Bob Smith</div>
              <div class="offer-full-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
                consequuntur totam cum quasi nobis sequi omnis earum error
                maiores, nam molestias doloremque tenetur harum fugit quisquam
                eos dolorem animi vero?
              </div>
              <div class="offer-full-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro
                fuga laborum, voluptatum necessitatibus doloremque placeat
                ducimus minima, velit numquam, odio corporis at illo consectetur
                maiores doloribus eum magnam itaque explicabo.
              </div>
              <div class="offer-full-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Eligendi voluptatum, a hic blanditiis, expedita veniam ab
                repellat laudantium fugiat eaque iusto earum quaerat inventore
                suscipit similique nulla veritatis porro aliquam.
              </div>
              <div class="offer-full-content">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Consectetur doloribus assumenda in expedita explicabo neque.
                Vero corrupti unde accusamus cupiditate! Voluptatibus minus quam
                sapiente est molestiae, aliquam vero doloribus animi.
              </div>
            </div>
            <div class="frameworks">
              <div class="fr-title">I want to learn:</div>
              <div class="framework-example">
                <i class="uil uil-html5 about-icon"></i>
                <h3 class="about-title">HTML</h3>
              </div>
              <div class="framework-example">
                <i class="uil uil-brackets-curly about-icon"></i>
                <h4 class="about-title">CSS</h4>
              </div>
              <div class="framework-example">
                <i class="uil uil-java-script about-icon"></i>
                <h3 class="about-title">JS</h3>
              </div>
              <div class="framework-example">
                <i class="uil uil-keyboard about-icon"></i>
                <h3 class="about-title">API</h3>
              </div>
              <div class="framework-example">
                <i class="uil uil-java-script about-icon"></i>
                <h3 class="about-title">Node.JS</h3>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>MentorMe &copy; 2022</p>
          </div>
        </div>
      </div>
    </footer>
    <!--JS-->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/assets/js/script.js"></script>
  </body>
</html>