{{#if isLoggedIn}}
  {{> privateNavBar}}
{{else}}
  {{> publicNavBar}}
{{/if}}

    <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="profileModalLabel"></h5>
            <button type="button" id="modalDismissCross" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                <div class="avatar-wrapper">
                  <img class="avatar" id="modalAvatar" src="" />
                </div>
              <div class="profile-info">
                <div class="modal-info-div d-flex flex-row">
                <p class="modal-info-label" id="modalLabelEmail"><i class="fa-solid fa-envelope"></i> Email : </p>
                <p class="modal-info-line" id="modalEmail"></p>
                </div>
                <div class="modal-info-div d-flex flex-row">
                <p class="modal-info-label" id="modalLabelLocation"><i class="fa-solid fa-location-pin"></i> Location : </p>
                <p class="modal-info-line" id="modalLocation"></p>
                </div>
                <div class="modal-info-div d-flex flex-row">
                <p class="modal-info-label" id="modalLabelCollaboration"><i class="fa-solid fa-chalkboard-user"></i> Collaboration format : </p>
                <p class="modal-info-line" id="modalCollaboration"></p>
                </div>
                <div class="modal-info-div d-flex flex-row">
                <p class="modal-info-label" id="modalLabelAvailability"><i class="fa-solid fa-calendar"></i> Availability : </p>
                <p class="modal-info-line" id="modalAvailability"></p>
                </div>
                <div class="modal-info-div d-flex flex-row">
                <p class="modal-info-label" id="modalLabelGoal"><i class="fa-solid fa-bullseye"></i> Personal goal : </p>
                <p class="modal-info-line" id="modalGoal"></p>
                </div>
                <div class="modal-info-div d-flex flex-row">
                <p class="modal-info-label" id="modalLabelXp"><i class="fa-solid fa-star"></i> Experience - Earned XP : </p>
                <p class="modal-info-line" id="modalXp"></p>
                </div>
                <div class="modal-info-div d-flex flex-row">
                <p class="modal-info-label" id="modalLabelFrameworks"><i class="fa-solid fa-code"></i> Frameworks : </p>
                <p class="modal-info-line" id="modalFrameworks"></p>
                </div>
              </div> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modalCloseBtn">Close</button>
          </div>
        </div>
      </div>
    </div>

  <div class="container mt-3" id="search-container">
    <div class="mentor-search-form text-center card-header mt-3">
      <h1 class="mb-3">Search for a mentor</h1>

      <p class="mb-2">Filter your search here.</br>If you choose to not apply a filter for any field, the search will return results for all options.</p>

      <form class="text-left" id="mentorSearch">
        <fieldset>
          <div class="form-group mt-4">
            <label for="location" class="form-label">City</label>
            <input
              type="text"
              class="form-control"
              id="inputLocation"
              aria-describedby="locationHelp"
              placeholder="Enter a city"
              maxlength="30"
            />
          </div>
          <div class="form-group mt-4">
            <label for="inputFormat" class="form-label">Collaboration Format</label>
            <select class="collaboration-select form-select" aria-label="Default select" id="formatSelect">
              <option selected>All</option>
              <option value="online">Online</option>
              <option value="in-person">In-person</option>
          </select>
          </div>
          <div class="form-group mt-4">
            <p class="form-label">Framework</p>
            <div class="d-flex flex-row flex-wrap">
              {{>frameworks}}
              
              </div>
          </div>
          
          <div class="form-group d-flex flex-column align-items-center">
            <button type="submit" class="btn btn-primary mt-4 border-0" id="mentor-search-btn">Submit</button>
          </div>
        </fieldset>
      </form>
    </div>

    </div>
    <div class="container card-container d-flex flex-column mt-3" id={{#if (isEqualTo userType "mentee")}}"mentor-card-container"{{else}}"mentor-browse-container"{{/if}}>
    </div>
  
