<main>
  <section>
    <div class="main-container">
      <div class="offer offer-full">
        <div class="inner-sidebar">
          <div class="profile">
            <div class="avatar-wrapper">
              <img src="/assets/img/clipart472433.png" />
            </div>
            <div class="btn">
              <a
                href="mailto:bob.smith@gmail.com"
                class="card-message"
                data-attr=""
              ><i class="uil uil-envelope-alt"></i> Send Message</a>
            </div>
          </div>
          <div class="profile-info">
            <div class="contact-data">
              <div class="phone">
                <i class="uil uil-phone"></i>
                790-1000-1000
              </div>
              <div class="email">
                <i class="uil uil-at"></i>
                bob.smith@gmail.com
              </div>
            </div>
            <div class="info-data">
              <div class="feat-city">
                <i class="uil uil-map-marker"></i>
                Online
              </div>
              <div class="feat-city">
                <i class="uil uil-map-marker"></i>
                London
              </div>
              <div class="feat-calendar">
                <i class="uil uil-schedule"></i>
                Availability
              </div>
            </div>
            <div class="week-days">
              <div class="day-active">M</div>
              <div class="day-active">T</div>
              <div class="day-active">W</div>
              <div class="day-active">T</div>
              <div class="day-active">F</div>
              <div class="day-active">S</div>
              <div class="day-active">S</div>
            </div>
          </div>
        </div>
        <div class="offer-content">
          <div class="offer-title">Hi! I'm Bob Smith</div>
          <div class="offer-full-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
            consequuntur totam cum quasi nobis sequi omnis earum error maiores,
            nam molestias doloremque tenetur harum fugit quisquam eos dolorem
            animi vero?
          </div>
          <div class="offer-full-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro fuga
            laborum, voluptatum necessitatibus doloremque placeat ducimus
            minima, velit numquam, odio corporis at illo consectetur maiores
            doloribus eum magnam itaque explicabo.
          </div>
          <div class="offer-full-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
            voluptatum, a hic blanditiis, expedita veniam ab repellat laudantium
            fugiat eaque iusto earum quaerat inventore suscipit similique nulla
            veritatis porro aliquam.
          </div>
          <div class="offer-full-content">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Consectetur doloribus assumenda in expedita explicabo neque. Vero
            corrupti unde accusamus cupiditate! Voluptatibus minus quam sapiente
            est molestiae, aliquam vero doloribus animi.
          </div>
        </div>
        <div class="frameworks">
          <div class="fr-title">I want to learn:</div>
          <div class="framework-example">
            <i class="uil uil-html5 about-icon"></i>
            <h3 class="about-title">HTML</h3>
          </div>
          <div class="framework-example">
            <i class="uil uil-brackets-curly about-icon"></i>
            <h4 class="about-title">CSS</h4>
          </div>
          <div class="framework-example">
            <i class="uil uil-java-script about-icon"></i>
            <h3 class="about-title">JS</h3>
          </div>
          <div class="framework-example">
            <i class="uil uil-keyboard about-icon"></i>
            <h3 class="about-title">API</h3>
          </div>
          <div class="framework-example">
            <i class="uil uil-java-script about-icon"></i>
            <h3 class="about-title">Node.JS</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>