  {{> privateNavBar}}

<div class="container">
      <div style="margin-top: 20px" class="text-center card-header">
        <h1 class="mb-4">Search for a mentee</h1>
        <form class="text-left" id="menteeSearch">
          <fieldset>
            <div class="form-group">
              <label for="location" class="form-label">Filter by city (optional - default all)</label>
              <input
                type="text"
                class="form-control"
                id="inputLocation"
                aria-describedby="locationHelp"
                placeholder="Enter a city"
                maxlength="30"
              />
            </div>
            <div class="form-group">
              <label for="inputFormat" class="form-label">Filter by collaboration format (default all)</label>
              <select class="form-select" aria-label="Default select" id="formatSelect">
                <option selected>All</option>
                <option value="online">online</option>
                <option value="in-person">in-person</option>
            </select>
            </div>
            <div class="form-group">
              <p class="form-label">Filter by framework (default all)</p>
              <div class="d-flex flex-row flex-wrap">
                {{>frameworks}}
                
                </div>
            </div>
            
            <div class="form-group d-flex flex-column align-items-center">
              <button type="submit" class="btn btn-primary" id="mentee-search-btn">Submit</button>
            </div>
          </fieldset>
        </form>
      </div>

      <div class="container card-container d-flex flex-column mt-3" id="mentee-browse-container">
        <p class="text-center empty-search-message"> Use the form above to start a search! </p>
      </div>
    </div>