{{> publicNavBar}}

<main class="container">
  <section class="mt-4 border p-3 rounded-2 bg-light">
    <h1 class="text-center">Reset Password</h1>
    <hr />
    
<p> Please insert your email address to require a password reset.</p>
    <hr />
    <form class="mt-4" id="reset-password-form">
      <div class="mb-3">
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter email address"
        />
      </div>
      
      <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary">Reset</button>
      </div>
      
    </form>
  </section>
</main>