{{> publicNavBar}}

<main class="container">
  <section class="mt-4 border p-3 rounded-2 bg-light">
    <h2 class="text-center">Sign Up</h2>
    <hr />
    
    <div class="form-check" id="user-type">
      <input class="form-check-input" type="radio" name="user" id="mentee" checked>
      <label class="form-check-label mr-5" for="mentee">
        Mentee
      </label>
      <input class="form-check-input" type="radio" name="user" id="mentor">
      <label class="form-check-label mr-5" for="mentor">
        Mentor
      </label>
    </div>

    <hr />

    <form class="mt-4" id="signup-form">
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="firstName"
          placeholder="Enter first name*"
        />
      </div>

      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="lastName"
          placeholder="Enter last name*"
        />
      </div>
       
       <div class="mb-3">
        <input
          type="username"
          class="form-control"
          id="username"
          placeholder="Enter username*"
        />
      </div>

      <div class="mb-3">
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter email address*"
        />
      </div>
      
      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Enter password between 6-18 characters long and containing at least one number*"
          pattern="^(?=.*\d).{6,18}$"
        />
      </div>

      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          placeholder="Confirm password*"
        />
      </div>

      <div>
        <select class="form-select mb-3 sign-up-select" id="availability" aria-label="availability">
          <option selected>Select availability*</option>
          <option value="weekdays">Weekdays</option>
          <option value="weekends">Weekends</option>
          <option value="both">Both</option>
        </select>
      </div>

      <div>
        <select class="form-select mb-3 sign-up-select" id="collaborationFormat" aria-label="collaborationFormat">
          <option selected>Select collaboration format*</option>
          <option value="online">Online</option>
          <option value="in-person">In-Person</option>
          <option value="hybrid">Hybrid</option>
        </select>
      </div>
      
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="location"
          placeholder="Enter location*"
        />
      </div>

      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="personalGoal"
          placeholder="Enter personal goal*"
        />
      </div>

      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="profileImageUrl"
          placeholder="Enter profile image URL (optional)"
        />
      </div>

      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="gitHubUrl"
          placeholder="Enter GitHub URL (optional)"
        />
      </div>

      <div id="signup-error"></div>

      <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </div>
      <div class="mb-3 text-center error-text">
        Already have an account?
        <a href="/login">Login here.</a>
      </div>

    </form>
  </section>
</main>