{{> publicNavBar}}

<main class="container">
  <section class="mt-4 border p-3 rounded-2 bg-light">
    <h2 class="text-center">Sign Up</h2>
    <hr />
    <form class="mt-4" id="signup-form">
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="firstName"
          placeholder="Enter first name"
        />
      </div>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="lastName"
          placeholder="Enter last name"
        />
      </div>
       
       <div class="mb-3">
        <input
          type="username"
          class="form-control"
          id="username"
          placeholder="Enter username"
        />
      </div>
      <div class="mb-3">
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter email address"
        />
      </div>
      
      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Enter password"
        />
      </div>
      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          placeholder="Confirm password"
        />
      </div>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="location"
          placeholder="Enter location"
        />
      </div>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="availability"
          placeholder="Select availability"
        />
      </div>

      {{#if (isEqualTo userType "mentor")}}
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="collaborationFormat"
          placeholder="Select collaboration format"
        />
      </div>
      {{/if}}

      {{#if (isEqualTo userType "mentee")}}
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="collaborationFormat"
          placeholder="Select collaboration format"
        />
      </div>
      {{/if}}

      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="personalGoal"
          placeholder="Enter personal goal"
        />
      </div>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="profileImageUrl"
          placeholder="Enter profile image URL"
        />
      </div>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="gitHubUrl"
          placeholder="Enter GitHub URL"
        />
      </div>
      <div id="signup-error"></div>
      <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </div>
      <div class="mb-3 text-center error-text">
        Already have an account?
        <a href="/login">Login here.</a>
      </div>
    </form>
  </section>
</main>