{{> publicNavBar}}

<main class="container">
  <section class="mt-4 border p-3 rounded-2 bg-light">
    <h2 class="text-center">Sign Up</h2>
    <hr />
    
    <div class="form-check" id="user-type">
      <input class="form-check-input" type="radio" name="user" id="mentee" checked>
      <label class="form-check-label mr-5" for="mentee">
        Mentee
      </label>
      <input class="form-check-input" type="radio" name="user" id="mentor">
      <label class="form-check-label mr-5" for="mentor">
        Mentor
      </label>
    </div>

    <hr />

    <form class="mt-4" id="signup-form">
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="firstName"
          placeholder="Enter first name*"
        />
      </div>

      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="lastName"
          placeholder="Enter last name*"
        />
      </div>
       
       <div class="mb-3">
        <input
          type="username"
          class="form-control"
          id="username"
          placeholder="Enter username*"
        />
      </div>

      <div class="mb-3">
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter email address*"
        />
      </div>
      
      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Enter password*"
        />
      </div>

      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          placeholder="Confirm password*"
        />
      </div>

{{!-- checkbox and dropdown formats --}}
      {{!-- <div class="ml-1 mb-3">
        <p id="availability">Select availability*</p>
      </div> --}}

{{!-- TODO fix bug when clicking on words instead of boxes --}}
      {{!-- <div class="form-check ml-2 mb-3">
        <input class="form-check-input" type="checkbox" id="weekdays">
        <label class="form-check-label mr-5" for="flexCheckDefault">
          Weekdays
        </label>
        <input class="form-check-input" type="checkbox" id="weekends">
        <label class="form-check-label mr-5" for="flexCheckDefault">
          Weekends
        </label>
        <input class="form-check-input" type="checkbox" id="mornings">
        <label class="form-check-label mr-5" for="flexCheckDefault">
          Mornings
        </label>
        <input class="form-check-input" type="checkbox" id="afternoons">
        <label class="form-check-label mr-5" for="flexCheckDefault">
          Afternoons
        </label>
        <input class="form-check-input" type="checkbox" id="evenings">
        <label class="form-check-label mr-5" for="flexCheckDefault">
          Evenings
        </label>
      </div> --}}

{{!-- TODO fix styling and dropdown functionality --}}
      <div>
        <select class="form-select mb-3" id="availability" aria-label="availability">
          <option selected>Select availability*</option>
          <option value="weekdays">Weekdays</option>
          <option value="weekends">Weekends</option>
          <option value="both">Both</option>
        </select>
      </div>

      <div>
        <select class="form-select mb-3" id="collaborationFormat" aria-label="collaborationFormat">
          <option selected>Select collaboration format*</option>
          <option value="online">Online</option>
          <option value="in-person">In-Person</option>
          <option value="hybrid">Hybrid</option>
        </select>
      </div>
      
      <div>
        <select class="form-select mb-3" id="location" aria-label="location">
          <option selected>Select location*</option>
          <option value="weekdays">Birmingham</option>
          <option value="weekends">London</option>
          <option value="both">Manchester</option>
        </select>
      </div>

      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="personalGoal"
          placeholder="Enter personal goal*"
        />
      </div>

      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="profileImageUrl"
          placeholder="Enter profile image URL (optional)"
        />
      </div>

      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="gitHubUrl"
          placeholder="Enter GitHub URL (optional)"
        />
      </div>

      <div id="signup-error"></div>

      <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </div>
      <div class="mb-3 text-center error-text">
        Already have an account?
        <a href="/login">Login here.</a>
      </div>

    </form>
  </section>
</main>