{{> publicNavBar}}

<main class="container">
  <section class="mt-4 border p-3 rounded-2 bg-light">
    <h2 class="text-center">Sign Up</h2>
    <hr />
    <div class="btn-group " role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
      <label class="btn border-0 mt-2 mr-5" for="btnradio1" data-user-type="mentee">Mentee</label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
      <label class="btn border-0  mt-2 mr-5" for="btnradio2" data-user-type="mentor">Mentor</label>
    </div>
    <hr />

    <form class="mt-4" id="signup-form">
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="firstName"
          placeholder="Enter first name*"
        />
      </div>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="lastName"
          placeholder="Enter last name*"
        />
      </div>
       
       <div class="mb-3">
        <input
          type="username"
          class="form-control"
          id="username"
          placeholder="Enter username*"
        />
      </div>
      <div class="mb-3">
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter email address*"
        />
      </div>
      
      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Enter password*"
        />
      </div>
      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          placeholder="Confirm password*"
        />
      </div>

      <div class="ml-1 mb-3">
        <p id="availability">Select availability*</p>
      </div>

      <div class="form-check ml-2 mb-3">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label mr-5" for="flexCheckDefault">
          Weekdays
        </label>
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label mr-5" for="flexCheckDefault">
          Weekends
        </label>
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label mr-5" for="flexCheckDefault">
          Mornings
        </label>
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label mr-5" for="flexCheckDefault">
          Afternoons
        </label>
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label mr-5" for="flexCheckDefault">
          Evenings
        </label>

      </div>

      <div class="dropdown mb-3 bg-light">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2 collaborationFormat" data-bs-toggle="dropdown" aria-expanded="false">
            Select collaboration format*
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><button class="dropdown-item" type="button">Online</button></li>
            <li><button class="dropdown-item" type="button">In-Person</button></li>
            <li><button class="dropdown-item" type="button">Hybrid</button></li>
          </ul>
      </div>

      <div class="dropdown mb-3 bg-light">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2 location" data-bs-toggle="dropdown" aria-expanded="false">
            Select location*
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><button class="dropdown-item" type="button">Birmingham</button></li>
            <li><button class="dropdown-item" type="button">London</button></li>
            <li><button class="dropdown-item" type="button">Manchester</button></li>
          </ul>
      </div>


      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="personalGoal"
          placeholder="Enter personal goal*"
        />
      </div>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="profileImageUrl"
          placeholder="Enter profile image URL (optional)"
        />
      </div>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="gitHubUrl"
          placeholder="Enter GitHub URL (optional)"
        />
      </div>
      <div id="signup-error"></div>
      <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </div>
      <div class="mb-3 text-center error-text">
        Already have an account?
        <a href="/login">Login here.</a>
      </div>
    </form>
  </section>
</main>