{{> privateNavBar}}

<div class="modal" tabindex="-1" id="assign-task-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Assign to Mentee</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="assign-task-form">
            <div class="mb-3">
              <select class="form-select" id="playlist-select">
                {{#each mentees as |mentee|}}
                  <option value="{{mentee.id}}">{{mentee.title}}</option>
                {{/each}}
              </select>
            </div>
            <div class="mb-3">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div id="assign-task-error"></div>
          </form>
        </div>
      </div>
    </div>
  </div>

<div class="container">
      <div style="margin-top: 20px" class="text-center card-header">
        <h1 class="display-4 mb-4">Search our database of learning tasks</h1>
        <form class="text-left" id="taskSearch">
          <fieldset>
            <div class="form-group">
              <label for="inputFormat" class="form-label">Filter by level</label>
              <select class="form-select" aria-label="Default select" id="levelSelect">
                <option selected>All</option>
                <option value="beginner">Beginner</option>
                <option value="intermediate">Intermediate</option>
                <option value="advanced">Advanced</option>
            </select>
            </div>
            <div class="form-group">
              <p class="form-label">Filter by framework (default all)</p>
              <div class="d-flex flex-row flex-wrap">
                {{>frameworks}}
                
                </div>
            </div>
            
            <div class="form-group d-flex flex-column align-items-center">
              <button type="submit" class="btn btn-primary" id="task-search-btn">Submit</button>
            </div>
          </fieldset>
        </form>
      </div>

      <div class="accordion card-container mt-3" id="task-card-container">

      </div>
    </div>


