* {
  box-sizing: border-box;
}

:root {
  font-family: "Bitter", serif;
  --fw-reg: 400;
  --fw-reg-italic: 400;
  --fw-bold: 800;
  --fw-bold-italic: 800;
  --alice-blue: #e7ecefff;
  --yale-blue: #274c77ff;
  --cerulean-frost: #6096baff;
  --baby-blue-eyes: #a3cef1ff;
  --battleship-grey: #8b8c89ff;
  --dark: #343a40;
  --accent: #f6950c;
  --form: #f8f9fa;
}

body {
  background-color: var(--alice-blue);
  margin: 0;
  padding: 0;
  color: var(--yale-blue);
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.homepg {
  justify-content: center;
  width: 90%;
  height: auto;
  margin-top: 1rem;
  background: var(--baby-blue-eyes);
}

.welcome-container {
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 0%;
  border: 0;
  background-image: url(../images/homepage3.jpg);
  /* object-fit: cover; */
}

.welcome-text {
  color: var(--alice-blue);
  font-weight: 400;
}

.btn {
  background-color: var(--cerulean-frost);
  color: var(--alice-blue);
  width: 100%;
  border: 0;
  /* margin: auto; */
}

.btn:hover {
  background-color: var(--accent);
  color: aliceblue;
  border: 0;
}

.fw-btn {
  background-color: var(--yale-blue);
}

.aside-info {
  width: 20%;
  margin: 0;
}

.main-info {
  width: 80%;
}

.profile-pic-div {
  height: 200px;
}

.profile-pic-box {
  width: 100%;
}

.profile-pic {
  height: 200px;
}

.modal-info-label {
  margin-right: 1rem;
  color: var(--yale-blue);
}

.modal-info-line {
  font-weight: bold;
}

.avatar-wrapper img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 23px;
  text-align: center;
  display: block;
}

.card {
  background-color: var(--alice-blue);
}

.card-color {
  background-color: var(--yale-blue);
}

.card-summary-info {
  background-color: var(--alice-blue);
}

.infoText {
  margin-top: 1rem;
}

.partnership-comment {
  color: var(--alice-blue);
  font-weight: bold;
}

.framework-name {
  font-weight: bold;
  color: var(--cerulean-frost);
}

.how-btn {
  width: 150px;
  height: 150px;
}

.framework-level {
  color: var(--alice-blue);
}

.partnership-header {
  width: 100%;
}

#user-frameworks-container {
  min-height: 100px;
}

/* .login-container {
  height: 90%;
} */

.sign-up-select,
.collaboration-select {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.6rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-label {
  font-weight: 600;
  font-size: large;
}

.navbar,
.footer {
  background-color: var(--yale-blue);
  color: var(--alice-blue);
  text-align: center;
}

.navbar,
.footer {
  background-color: var(--yale-blue);
  color: var(--alice-blue);
}

.collapse {
  &:not(.show) {
    display: none;
  }
}

.collapsing {
  height: 0;
  overflow: hidden;
  @include transition($transition-collapse);
}

#task-card-container,
#mentor-card-container,
#mentee-browse-container,
#mentor-browse-container {
  max-height: 800px;
  overflow-y: auto;
}

.mentor-search-form {
  background-color: var(--form);
}

.empty-search-message {
  min-height: 450px;
}
.false-status {
  color: red;
  font-weight: bold;
}
.true-status {
  color: green;
  font-weight: bold;
}

.contact-title {
  font-size: 2rem;
  text-align: center;
  color: var(--yale-blue);
  padding-top: 0.8rem;
}

.card-title {
  font-size: 1.5rem;
  text-align: center;
  color: var(--alice-blue);
}

.card-text {
  color: var(--alice-blue);
  text-align: center;
}

.card-body {
  background-color: var(--cerulean-frost);
  padding: 4px;
}

#github-link {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--alice-blue);
}

#github-link:hover {
  color: var(--accent);
}

.card-img {
  object-fit: contain;
}

.card-img-top {
  max-width: 300px;
  height: 300px;
}

.right-align {
  display: flex;
  flex-direction: row-reverse;
}

.left-align {
  padding-top: 1rem;
}

@media screen and (max-width: 576px) {
  .how-to-container,
  .framework-tile-container,
  .contact-container {
    align-items: center;
    justify-content: center;
  }

  .welcome-text {
    font-size: 80px;
  }
}
