* {
  box-sizing: border-box;
}

:root {
  font-family: "Bitter", serif;
  --fw-reg: 400;
  --fw-reg-italic: 400;
  --fw-bold: 800;
  --fw-bold-italic: 800;
  --alice-blue: #e7ecefff;
  --yale-blue: #274c77ff;
  --cerulean-frost: #6096baff;
  --baby-blue-eyes: #a3cef1ff;
  --battleship-grey: #8b8c89ff;
}

body {
  margin: 0;
  padding: 0;
}

.navbar,
.footer {
  background-color: var(--yale-blue);
  color: var(--alice-blue);
}
