* {
  box-sizing: border-box;
}

:root {
  font-family: "Bitter", serif;
  --fw-reg: 400;
  --fw-reg-italic: 400;
  --fw-bold: 800;
  --fw-bold-italic: 800;
  --alice-blue: #e7ecefff;
  --yale-blue: #274c77ff;
  --cerulean-frost: #6096baff;
  --baby-blue-eyes: #a3cef1ff;
  --battleship-grey: #8b8c89ff;
}

body {
  background-color: var(--cerulean-frost);
  margin: 0;
  padding: 0;
}

.homepg {
  justify-content: center;
  height: 500px;
  margin-top: 1rem;
}

.aside-info {
  width: 20%;
  margin: 0;
}
.main-info {
  width: 80%;
}
.profile-pic-div {
  height: 200px;
}
.profile-pic-box {
  width: 100%;
}
.profile-pic {
  height: 200px;
}

.modal-info-label {
  margin-right: 1rem;
  color: var(--yale-blue);
}
.modal-info-line {
  font-weight: bold;
}

.card {
  background-color: var(--alice-blue);
}
.card-color {
  background-color: var(--yale-blue);
}
.card-summary-info {
  background-color: var(--alice-blue);
}
.infoText {
  margin-top: 1rem;
}
.partnership-comment {
  color: var(--alice-blue);
  font-weight: bold;
}
.how-btn {
  width: 150px;
  height: 150px;
}
.framework-level {
  color: var(--alice-blue);
}
.partnership-header {
  width: 100%;
}
#user-frameworks-container {
  min-height: 100px;
}

footer {
  background-color: var(--battleship-grey);
  text-align: center;
}

.navbar,
.footer {
  background-color: var(--yale-blue);
  color: var(--alice-blue);
}

.collapse {
  &:not(.show) {
    display: none;
  }
}

.collapsing {
  height: 0;
  overflow: hidden;
  @include transition($transition-collapse);
}

#task-card-container,
#mentor-card-container,
#mentee-browse-container,
#mentor-browse-container {
  max-height: 800px;
  overflow-y: auto;
}

.empty-search-message {
  min-height: 450px;
}
.false-status {
  color: red;
  font-weight: bold;
}
.true-status {
  color: green;
  font-weight: bold;
}

.contact-title {
  font-size: 2rem;
  text-align: center;
  color: var(--yale-blue);
  padding-top: 0.8rem;
}

.card-title {
  font-size: 1.5rem;
  text-align: center;
  color: white;
}

.card-text {
  color: white;
  text-align: center;
}

.card-body {
  background-color: var(--cerulean-frost);
}

#github-link {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.card-img {
  object-fit: contain;
}
.right-align {
  display: flex;
  flex-direction: row-reverse;
}

.left-align {
  padding-top: 1rem;
}
